<section id="section_movie_form">
  <div class="container">
    <div class="row">
      <div class="col-md-10 offset-md-1 mt-4">

        <%= form_for @movie do |f| %>
          <div class="form-group">
            <%= f.label :title, "Titile：" %>
            <%= f.text_field :title, class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f.label :description, "Description：" %>
            <%= f.text_area :description, class: "form-control", rows: "7" %>
          </div>
          <div class="form-group">
            <%= f.label :movie_length, "Movie_length：" %>
            <%= f.text_field :movie_length, class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f.label :director, "Director：" %>
            <%= f.text_field :director, class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f.label :rating, "Rating：" %>
            <%= f.text_field :rating, class: "form-control" %>
          </div>
          <div class="form-group">
            <div class="custom-file">
              <%= f.file_field :image, class: "custom-file-input" %>
              <%= f.label :image, "Choose file", class: "custom-file-label" %>
            </div>
          </div>
          <div class="form-group">
            <%= f.submit class: "btn btn-success" %>
          </div>
        <% end %>

      </div>
    </div>
  </div>
</section>