<section id="section_movies_index">
  <div class="container">
    <div class="row">

      <!-- jumbotron -->
      <div class="col-md-12">
        <div class="jumbotron">
          <h1 class="display-4">Your Favorite Movies Reviewed</h1>
          <p class="lead">Hashtag hoodie mumblecore selfies. Authentic keffiyeh leggings Kickstarter, narwhal jean shorts XOXO Vice Austin cardigan. Organic drinking vinegar freegan pickled.</p>
          <% if user_signed_in? %>
            <p class="lead">
              <%= link_to "Write A Movie Review", new_movie_path, class: "btn btn-primary btn-lg" %>
            </p>
          <% else %>
            <p class="lead">
              <%= link_to "Sign Up To Write A Review", new_user_registration_path, class: "btn btn-warning btn-lg" %>
            </p>
          <% end %>
        </div>
      </div>

      <!-- movie -->
      <% @movies.each do |movie| %>
        <div class="col-md-4">
          <div class="card-deck">
            <%= link_to movie_path(movie), class: "no_under_line" do %>
              <div class="card mb-4" style="width: 348px;">
                <%= image_tag movie.image, class: "card-img-top", style: "height: 500px;" %>
                <div class="card-body text-center">
                  <h5 class="card-title"><%= movie.title %></h5>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>

    </div>
  </div>
</section>