<section id="section_movie_show">
  <div class="container">
    <div class="row">
      <div class="col-md-12">

        <div class="row">
          <div class="col-md-5">
            <%= image_tag @movie.image, class: "img-thumbnail rounded mx-auto d-block" %>
            <ul class="list-group list-group list-group-flush mt-1">
              <li class="list-group-item">
                劇情：<%= @movie.description %>
              </li>
              <li class="list-group-item">
                片長：<%= @movie.movie_length %>
              </li>
              <li class="list-group-item">
                導演：<%= @movie.director %>
              </li>
              <li class="list-group-item">
                評分：<%= @movie.rating %>
              </li>
            </ul>
          </div>
          <div class="col-md-7">
            <h3 class="text-left"><%= @movie.title %></h3>
            <%= render "reviews/show_review" %>
            <%= render "reviews/form_review" %>
          </div>
        </div>
        <% if user_signed_in? %>
          <div class="links text-center">
            <%= link_to "Edit", edit_movie_path, class: "color-word" %> |
            <%= link_to "Delete" , movie_path, method: :delete, data: {confirm: "Are you sure?"}, class: "color-word" %>
          </div>
        <% end %>

      </div>
    </div>
  </div>
</section>