<% @reviews.each do |review| %>
  <div>
    <hr>
    <div class="star-rating mb-1" data-score= <%= review.rating %> ></div>
    <h6><%= review.comment %></h6>
    <p class="text-muted">
      <em>
        <%= review.user.email.split("@").first %>
        <%= time_ago_in_words(review.created_at) %> ago -
        <% if user_signed_in? %>
          <%= link_to "Delete", movie_review_path(@movie, review), method: :delete %>
        <% end %>
      </em>
    </p>
  </div>
<% end %>

<script>
    $('.star-rating').raty({
      path: '/assets/',
      readOnly: true,
      score: function() {
            return $(this).attr('data-score');
    }
  });
</script>